pageSize: 'LEGAL',
content: [
    {text: 'LEASE CONTRACT\n\n', bold:true, alignment:'center'},
    {text: 'KNOWN ALL MEN BY THESE PRESENTS:\n\n', bold:true, alignment:'left'},
    {text: [
            {text: 'This contract of lease made and entered this '},
            {text: `${'21st'}`, decoration: 'underline'},
            {text: ' day of '},
            {text: `${'January'} ${'2019'}`, decoration: 'underline'},
            {text: ' at Parañaque City, Philippines by and between:\n\n'}
        ],
        alignment: 'left',
    },
    {text: [
        {text: 'EXTRA-ORDINARY PROPERTY MANAGEMENT INC.', bold: true},
        {text: 'a corporation duly organized and existing under and by virtue of the laws of the Philippines with office address at 6th Floor Queensway Commercial Center Bldg., 118 Amorsolo St., Legaspi Village, Makati City, herein presented by VP Finance and Admin, '},
        {text: 'SHERRY V. YAMBAO ', bold: true},
        {text: 'hereinafter referred to as the '},
        {text: 'LESSOR;', bold: true},
        ],
        margin: [50, 0],
        alignment: 'justify'
    },
    {text: '-and-\n\n', alignment:'center'},
    {text: [
        {text: `${'Gramar Lacsina'}`, decoration: 'underline', bold:true},
        {text: ' of legal age, resident of and with postal address at '},
        {text: `${'Punta Sta. Ana, Manila'}`, bold: true, decoration:'underline'},
        {text: ' hereinafter referred to as the '},
        {text: 'LESSEE;\n\n', bold: true},
        ],
        margin: [50, 0],
        alignment: 'justify'
    },
    {text: 'WITNESSETH:\n\n', alignment:'center', bold: true},
    {text: [
        {text: 'The '},
        {text: '"LESSOR" ', bold: true},
        {text: 'hereby lets and lease unto the '},
        {text: '"LESSEE" ', bold: true},
        {text: 'and the latter accepts in lease of '},
        {text: 'Stall No. ', bold: true},
        {text: `${'A-1'}`, bold: true, decoration: 'underline'},
        {text: ', located at Extra-Ordinary Warehouse Mall,', bold: true},
        {text: 'under the following terms and conditions:\n\n'},
        ],
        alignment: 'justify',
        margin: [0, 0, 50, 0]
    },
    {ul: [
            {text: [
                    {text: 'The Lease shall be for a term of six (6) months commencing '},
                    {text: `${'January 21, 2019'} to ${'July 21, 2019'}`, decoration: 'underline'},
                    {text: ' renewable for another period of six (6) months upon mutual agreement of the parties.\n\n'},
                ]
            },
            {text: [
                    {text: 'The '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'agrees to pay as rental amount of ( Php 9,000.00 ) per month. Failure to pay rental shall cause termination of this agreement.\n\n'},
                ]
            },
            {text: [
                    {text: 'Upon execution of this agreement, the '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'shall deliver and pay the amount of Nine Thousand Pesos (Php 9,000.00) as good will to reserve the space for him/her for six months. This amount is non-refundable and shall in no way be charged to unpaid rentals.\n\n'},
                ]
            },
            {text: [
                    {text: 'The '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'shall not sell any bottled water products other than Agua Avelina.\n\n'},
                ]
            },
            {text: [
                    {text: 'The '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'shall take good care of the leased premises and shall not store or keep any explosive of flammable materials in the leased premises which may increase the fire hazard of the same.\n\n'},
                ]
            },
            {text: [
                    {text: 'The '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'shall not sub-lease or encumber the stall assigned by virtue of this contract nor to allow anybody to use the same even temporary no matter how short time is.\n\n'},
                ]
            },
            {text: [
                    {text: 'That all ordinary repairs within the premises that may arise in the daily use of the facilities thereon shall be for sole account and expense of the '},
                    {text: '"LESSEE" WITHOUT THE RIGHT TO REIMBURSEMENT.\n\n', bold: true},
                ]
            },
            {text: [
                    {text: 'That the expenses for electricity and water assessed for the respective stalls shall be billed separately by the '},
                    {text: '"LESSOR". ', bold: true},
                    {text: 'A sub-meter will be placed or installed as to determine the utility consumption of the leased stall.\n\n'},
                ]
            },
            {text: [
                    {text: 'That the “LESSEE” agrees and binds himself to keep  the stalls  and  its surroundings in good sanitary condition and comply with all sanitary  and market existing rules and regulations or which may hereinafter be issued by the '},
                    {text: '"LESSOR".\n\n', bold: true},
                ]
            },
            {text: [
                    {text: 'That the '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'agrees and binds himself never to make any alterations and improvements or extensions (“excess”) of his/her stall without the written consent of the '},
                    {text: '"LESSOR" ', bold: true},
                    {text: 'and any such alterations, improvement or extension made thereon can be removed or demolished anytime by the '},
                    {text: '"LESSOR" ', bold: true},
                    {text: 'without obligation to reimburse to the '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'the cost of such improvement or extensions. The “LESSEE” shall be responsible to secure his/her goods being sold and/or displayed for sale, including his/her personal belongings against pilferage and/or thieves. Thus, the “LESSOR” and its employees and/or guard on duty shall not be held responsible or liable to any lost or damage items.\n\n'},
                ]
            },
            {text: [
                    {text: 'That any violation of the terms and conditions, herein stipulated rules and regulations promulgated by the “LESSOR” shall be valid cause for the cancellation or revocation of this Contract and automatically the stall affected shall revert to the '},
                    {text: '"LESSOR".\n\n', bold: true},
                ]
            },
            {text: [
                    {text: 'In the event of cancellation or revocation of the herein right to occupy stall, the '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'empowers the '},
                    {text: '"LESSOR" ', bold: true},
                    {text: 'upon due notice the right to padlock the stall affected and appoint the '},
                    {text: '"LESSOR" ', bold: true},
                    {text: 'as the attorney-in-fact to offer public auction the goods inside the stalls and the proceeds of the sale to be applied first to whatever obligation it owes to the '},
                    {text: '"LESSOR" ', bold: true},
                    {text: 'if after satisfying this, there still remains any, same shall be given to the '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'after deducting the cost of selling each items.\n\n'},
                ]
            },
            {text: [
                    {text: 'At the termination of this lease contract for any cause, the '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'hereby authorizes the '},
                    {text: '"LESSOR" ', bold: true},
                    {text: 'to remove all personal property of the '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'in the leased premises and to deposit the same in storage and the '},
                    {text: '"LESSEE" ', bold: true},
                    {text: 'further agrees to pay all cost of transfer and storage.\n\n'},
                ]
            },
        ],
        margin: [50,0],
        alignment: 'justify'
    },
    {text: [
            {text: 'IN WITNESS WHEREOF, ', bold: true},
            {text: 'the parties hereto set their hands this '},
            {text: `${'21st'}`, decoration: 'underline'},
            {text: ' day of '},
            {text: `${'January'} ${'2019'}`, decoration: 'underline'},
            {text: ' in Makati City, Philippines\n\n'}
        ],
        margin: [0, 0, 50, 0]
    },
    {text: 'EXTRA-ORDINARY PROPERTY MANAGEMENT INC.	  LESSEE\n\n\n\n', bold:true},
    {text: 'By: SHERRY V. YAMBAO\n\n\n\n'},
    {text: 'Signed In the Presence of\n\n\n', alignment:'center'},
    {text: '_____________________________________                                 _____________________________________\n\n\n'},
    {text: 'ACKNOWLEDGEMENT\n\n', alignment:'center', bold: true},
    {text: 'REPUBLIC OF THE PHILIPPINES) S.S.\n'},
    {text: 'MANDALUYONG CITY, METRO MANILA)\n\n', decoration: 'underline'},
    {text: 'BEFORE ME, the undersigned Notary Public for and in ______________________', margin: [50,0]},
    {text: 'this ________ day of __________________________,'},
    {text: 'personally appeared:\n'},
]
	