extends ./template.pug

block contentStyle
	title Lessee -Stall Management System

block content
	.page-header.header-filter(filter-color='orange')
		.page-header-image(style='background-image:url(/assets/now-ui/img/login.jpg)')
		.content
			.container(style="height: unset; color: black")
				.col-md-12
					.card
						.card-header
							h4.card-title Issues History
						.card-body
							.table-responsive
								table#issueTable.table
									thead
										tr
											th Issue Subject
											th Status
									tbody
										each issue in issues
											tr
												td #{issue.strSubject}
												- if(issue.booStatus == 0)
													td
														span.badge.badge-warning Pending
												- else
													td
														a.badge.badge-success.text-white.viewTicket(href='javascript:' issueId=`${issue.intId}`) Ticketed
	// MODALS
	#ticketModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
		.modal-dialog.modal-lg(role='document')
			.modal-content
				.modal-header
					h5.modal-title Issue Details
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					.table-responsive
						table.table
							thead
								tr
									th Ticket No.
									th Assignee Username
									th Status
							tbody#ticketModalTableBody
block contentScript
	script.
		$(document).ready(function(){
			$(document).on('click', '.viewTicket', function(){
				$.post('/view-ticket', {
					issueId: $(this).attr('issueId')
				}).done(function(data){
					for(let p = 0; p < data.length; p++){
						let status = ''
						if(data[p].booStatus == 0){
							status = '<span class="badge badge-info text-white">Resolving</span>'
						}
						else if(data[p].booStatus == 1){
							status = '<span class="badge badge-success text-white">Resolved</span>'
						}
						else if(data[p].booStatus == 2){
							status = '<span class="badge badge-danger text-white">Closed/Unresolved</span>'
						}
						$('#ticketModalTableBody').append(`
							<tr>
								<td>${data[p].intId}</td>
								<td>${data[p].strAssigneeUsername}</td>
								<td>${status}</td>
							</tr>
						`)
					}
					$('#ticketModal').modal('show')
				})
			})
			$('#ticketModal').on('hidden.bs.modal', function(){
				$('#ticketModalTableBody').empty()
			})
		})