extends ./template.pug

block content
	.row
		.col-md-12
			.card
				.card-header
					h4.card-title Lessee
				.card-body
					.toolbar
						button.btn.btn-round.btn-success(data-toggle='modal' data-target='#addAccountModal') + Add Account
					br
					table#lesseeTable.table.table-bordered.table-striped(cellspacing='0')
						thead
							tr
								th ID
								th Name
								th Address
								th Phone
								th Lessee Type
								th Action
						tbody
							each lessee in lessees
								tr
									td #{lessee.strId}
									td #{lessee.strFirstName} #{lessee.strMiddleName} #{lessee.strLastName}
									td #{lessee.strAddress}
									td #{lessee.strPhoneNumber}
									td #{`${lessee.booLesseeType == 0 ? 'Individual' : 'Company'}`}
									td
										a.btn.btn-round.btn-info.btn-icon.viewLessee(href='javascript:void(0)' permit=`${lessee.strBaranggayPermit}` address=`${lessee.strAddress}` phone=`${lessee.strPhoneNumber}` email=`${lessee.strEmail}` lesseeId=`${lessee.strId}`)
											i.now-ui-icons.ui-1_zoom-bold
										a.btn.btn-round.btn-danger.btn-icon.deleteLessee(href='javascript:void(0)' lesseeId=`${lessee.strId}`)
											i.now-ui-icons.ui-1_simple-remove
	#addAccountModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
		.modal-dialog.modal-lg(role='document')
			.modal-content
				.modal-header
					h5.modal-title Register Account
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				form#addAccountForm(enctype="multipart/form-data")
					.modal-body
						.form-group
							label Account Type
								small.text-danger  *
							.form-check.form-check-radio
								label.form-check-label
									input.form-check-input#individual(type='radio', name='accountType', value='0' checked)
									| Individual
									span.form-check-sign
							.form-check.form-check-radio
								label.form-check-label
									input.form-check-input#company(type='radio', name='accountType', value='1')
									| Company
									span.form-check-sign
							input#accountTypeToggle(type='hidden' value='0' disabled)
						br
						#companyFields(style='display:none')
						br
						h6 Lessee Details
						.form-group
							label First Name
								small.text-danger  *
							input.form-control(type='text' name='firstName' placeholder='Enter First Name')
						.form-group
							label Middle Name
							input.form-control(type='text' name='middleName' placeholder='Enter Middle Name')
						.form-group
							label Last Name
								small.text-danger  *
							input.form-control(type='text' name='lastName' placeholder='Enter Last Name')
						.form-group
							label Address
								small.text-danger  *
							input.form-control(type='text' name='address' placeholder='Enter Address')
						.form-group
							label Email Address
								small.text-danger  *
							input.form-control(type='text' name='email' placeholder='Enter Email Address')
						.form-group
							label Phone Number
								small.text-danger  *
							input.form-control(type='text' name='phoneNumber' placeholder='Enter Phone Number')
						br
						h6 Lessee Validation Credentials
						.form-group
							.row
								p(style='margin-left:12px') NOTE: Any other ID not included in the list shall not be accepted
								.col-md-6
									select.form-control.selectpicker(data-style='select-with-transition btn-primary btn-round' title='Select' name='idType1')
										option(value='SSS') SSS ID
										option(value='Voter') Voter's ID
										option(value='BIR') BIR ID
									label Valid ID 1
										small.text-danger  *
									input.form-control.dropify(type='file' name='validId1' accept='image/*' data-height='200' data-allowed-file-extensions="jpeg jpg png" data-max-file-size='1M')
								.col-md-6
									select.form-control.selectpicker(data-style='select-with-transition btn-primary btn-round' title='Select' name='idType2')
										option(value='SSS') SSS ID
										option(value='Voter') Voter's ID
										option(value='BIR') BIR ID
									label Valid ID 2
										small.text-danger  *
									input.form-control.dropify(type='file' name='validId2' accept='image/*' data-height='200' data-allowed-file-extensions="jpeg jpg png" data-max-file-size='1M')
						.form-group
							label Baranggay Permit
								small.text-danger  *
							input.form-control.dropify(type='file' name='baranggayPermit' accept='image/*' data-height='200' data-allowed-file-extensions="jpeg jpg png" data-max-file-size='1M')
					.modal-footer
						button#addAccountSave.btn.btn-primary(type='submit') Save
	#editAccountModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
		.modal-dialog.modal-lg(role='document')
			.modal-content
				.modal-header
					h5.modal-title Edit Information
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				form#editAccountForm(enctype="multipart/form-data" method='POST' action='/admin/editaccount')
					.modal-body#editAccountModalBody
					.modal-footer
						button#editAccountSave.btn.btn-warning(type='submit') Edit
block contentScript
	script.
		$(document).ready(function(){
			$(document).on('click', '.deleteLessee', function(){
				$.post('/admin/delete-lessee', {id: $(this).attr('lesseeId')}).done(function(){
					location.href='/admin/lessee'
				})
			})
			$(document).on('click', '.viewLessee', function(){
				$('#editAccountModalBody').append(`<input id='editLesseeId' type="hidden" name="editLesseeId">
					<h6>Lessee Details</h6>
					<div class="form-group">
						<label>Address</label>
						<input class="form-control" type="text" name="editAddress" placeholder="Enter Address" value="${$(this).attr('address')}" />
					</div>
					<div class="form-group">
						<label>Email Address</label>
						<input class="form-control" type="email" name="editEmail" placeholder="Enter E-mail" value="${$(this).attr('email')}" />
					</div>
					<div class="form-group">
						<label>Phone Number</label>
						<input class="form-control" type="text" name="editPhoneNumber" placeholder="Enter Phone Number" value="${$(this).attr('phone')}" />
					</div><br />
					<h6>Lessee Credentials</h6>
					<div class="form-group">
						<label>Baranggay Permit<small class="text-danger"> *</small></label>
						<input class="form-control dropify" type="file" data-default-file="/uploads/${$(this).attr('permit')}" name="editBaranggayPermit" accept="image/*" data-height="500" data-allowed-file-extensions="jpeg jpg png" />
						<input type="hidden" name="editBaranggayPermitOld" value="${$(this).attr('permit')}"/>
					</div>`
				)
				$('input[name="editBaranggayPermit"]').dropify({
					allowedFiles: ['png', 'jpg', 'jpeg', 'gif', 'bmp'],
					messages: {
						'default': 'Drag and drop an image here or click',
						'replace': 'Drag and drop or click to replace',
						'remove': 'Remove',
						'error': 'Ooops, you can only upload JPG, JPEG, and PNG files.'
					},
					error: {
						'fileSize': 'The file size is too big (1M max).',
						'fileFormat': 'The file format is not allowed ({{ value }} only).'
					}
				})
				$('#editAccountForm').validate({
					rules:{
						editAddress:{
							required:true
						},
						editEmail:{
							required:true,
							email: true
						},
						editPhoneNumber:{
							required:true,
							minlength: 18
						}
					},
					messages:{
						phoneNumber:{
							minlength: 'Please enter a valid Philippine mobile number'
						}
					}
				})
				$('input[name="editPhoneNumber"]').mask('(+63) 900-000-0000',{
					translation:{
						'0':{
							pattern: /[0-9]/
						},
						'9':{
							pattern: /[9]/
						}
					}
				})
				$('#editLesseeId').val($(this).attr('lesseeId'))
				$('#editAccountModal').modal('show')
			})
			$('#editAccountModal').on('hidden.bs.modal', function(){
				$('#editAccountModalBody').empty()
			})
			$('.dropify').dropify({
				allowedFiles: ['png', 'jpg', 'jpeg', 'gif', 'bmp'],
				messages: {
					'default': 'Drag and drop an image here or click',
					'replace': 'Drag and drop or click to replace',
					'remove': 'Remove',
					'error': 'Ooops, you can only upload JPG, JPEG, and PNG files.'
				},
				error: {
					'fileSize': 'The file size is too big (1M max).',
					'fileFormat': 'The file format is not allowed ({{ value }} only).'
				}
			})
			$('#lesseeTable').dataTable()
			$('input[name="phoneNumber"]').mask('(+63) 900-000-0000',{
				translation:{
					'0':{
						pattern: /[0-9]/
					},
					'9':{
						pattern: /[9]/
					}
				}
			})
			$('#addAccountForm').validate({
				rules:{
					firstName:{
						required:true
					},
					lastName:{
						required:true
					},
					address:{
						required:true
					},
					email:{
						required:true,
						email: true,
						remote: {
							url: '/admin/check-email-validity',
							type: 'POST',
							data: {
								email: function(){
									return $('#addAccountForm input[name="email"]').val()
								}
							}
						}
					},
					phoneNumber:{
						required:true,
						minlength: 18
					},
					idType1: {
						required: true
					},
					idType2: {
						required: true
					}
				},
				messages:{
					phoneNumber:{
						minlength: 'Please enter a valid Philippine mobile number'
					},
					email:{
						remote: 'This email already exists'
					},
					idType1: {
						required: 'Please select an ID Type'
					},
					idType2: {
						required: 'Please select an ID Type'
					}
				}
			})
			$('#company').on('click', function(){
				$('#companyFields').append(`<form id="companyForm">
						<h6>Company Details</h6>
						<div class="form-group">
							<label>Company Name<small class="text-danger"> *</small></label>
							<input class="form-control" type="text" name="companyName" placeholder="Enter Company Name" />
						</div>
						<div class="form-group">
							<label>Company Address<small class="text-danger"> *</small></label>
							<input class="form-control" type="text" name="companyAddress" placeholder="Enter Company Address" />
						</div>
						<div class="form-group">
							<label>Representative Position<small class="text-danger"> *</small></label>
							<input class="form-control" type="text" name="repPosition" placeholder="Enter Representative Position" />
							<small style="font-style: italic">NOTE: Lessee will act as the representative of the company</small>
						</div>
						<div class="form-group">
							<div class='row'>
								<div class="col-md-6">
									<label>Business Permit<small class="text-danger"> *</small></label>
									<input class="form-control dropifyCompany" type="file" name="business" accept="image/*" data-height="200" data-allowed-file-extensions="jpeg jpg png" data-max-file-size="1M" />
								</div>
								<div class="col-md-6">
									<label>Mayor's Permit<small class="text-danger"> *</small></label>
									<input class="form-control dropifyCompany" type="file" name="mayor" accept="image/*" data-height="200" data-allowed-file-extensions="jpeg jpg png" data-max-file-size="1M" />
								</div>
							</div>
							<div class='row'>
								<div class="col-md-12">
									<label>DTI Permit<small class="text-danger"> *</small></label>
									<input class="form-control dropifyCompany" type="file" name="dti" accept="image/*" data-height="200" data-allowed-file-extensions="jpeg jpg png" data-max-file-size="1M" />
								</div>
							</div>
						</div>
					</form>`
				)
				$('#companyFields').fadeIn(500).promise().done(function(){
					$('#companyForm').validate({
						rules:{
							companyName:{
								required: true
							},
							companyAddress:{
								required: true
							},
							repPosition:{
								required:true
							},
							business:{
								required:true
							},
							mayor:{
								required:true
							},
							dti:{
								required:true
							}
						}
					})
				});
				$('.dropifyCompany').dropify({
					allowedFiles: ['png', 'jpg', 'jpeg', 'gif', 'bmp'],
					messages: {
						'default': 'Drag and drop an image here or click',
						'replace': 'Drag and drop or click to replace',
						'remove': 'Remove',
						'error': 'Ooops, you can only upload JPG, JPEG, and PNG files.'
					},
					error: {
						'fileSize': 'The file size is too big (1M max).',
						'fileFormat': 'The file format is not allowed ({{ value }} only).'
					}
				})
				$('#accountTypeToggle').val(1)
			})
			$('#individual').on('click', function(){
				$('#companyFields').fadeOut(500).promise().done(function(){
					$('#companyFields').empty()
				});
				$('#accountTypeToggle').val(0)
			})
			$('#addAccountSave').on('click', function(e){
				e.preventDefault()
				if($('#accountTypeToggle').val() == 1){
					$('#companyForm').validate()
					if($('#addAccountForm').valid() && $('#companyForm').valid()){
						let formData = new FormData();
						formData.append('validId1', $('#addAccountForm input[name="validId1"]')[0].files[0])
						formData.append('validId2', $('#addAccountForm input[name="validId2"]')[0].files[0])
						formData.append('baranggayPermit', $('#addAccountForm input[name="baranggayPermit"]')[0].files[0])
						formData.append('accountType' ,$('#accountTypeToggle').val())
						formData.append('firstName' ,$('#addAccountForm input[name="firstName"]').val())
						formData.append('middleName' ,$('#addAccountForm input[name="middleName"]').val())
						formData.append('lastName' ,$('#addAccountForm input[name="lastName"]').val())
						formData.append('address' ,$('#addAccountForm input[name="address"]').val())
						formData.append('email' ,$('#addAccountForm input[name="email"]').val())
						formData.append('phoneNumber' ,$('#addAccountForm input[name="phoneNumber"]').val())
						formData.append('idType1', $('#addAccountForm select[name="idType1"]').val())
						formData.append('idType2', $('#addAccountForm select[name="idType1"]').val())
						$.ajax({
							type: 'POST',
							url: '/admin/addaccount',
							data: formData,
							processData: false,
							contentType: false,
							success: function(data){
								const saveData = data;
								const companyFormData = new FormData()
								companyFormData.append('companyName', $('#companyForm input[name="companyName"]').val())
								companyFormData.append('companyAddress', $('#companyForm input[name="companyAddress"]').val())
								companyFormData.append('repPosition', $('#companyForm input[name="repPosition"]').val())
								companyFormData.append('id', data.id)
								companyFormData.append('business', $('#companyForm input[name="business"]')[0].files[0])
								companyFormData.append('mayor', $('#companyForm input[name="mayor"]')[0].files[0])
								companyFormData.append('dti', $('#companyForm input[name="dti"]')[0].files[0])
								$.ajax({
									type: 'POST',
									url: '/admin/add-company',
									data: companyFormData,
									processData: false,
									contentType: false,
									success: function(data){
										swal({
											title: `You have successfully created an account`,
											text: `Account username is ${saveData.user} and password is ${saveData.pass}`,
											type: 'success'
										}).then(()=>{
											location.href='/admin/lessee'
										})
									}
								})
							}
						})
					}
				}
				else{
					if($('#addAccountForm').valid()){
						let formData = new FormData();
						formData.append('validId1', $('#addAccountForm input[name="validId1"]')[0].files[0])
						formData.append('validId2', $('#addAccountForm input[name="validId2"]')[0].files[0])
						formData.append('baranggayPermit', $('#addAccountForm input[name="baranggayPermit"]')[0].files[0])
						formData.append('accountType' ,$('#accountTypeToggle').val())
						formData.append('firstName' ,$('#addAccountForm input[name="firstName"]').val())
						formData.append('middleName' ,$('#addAccountForm input[name="middleName"]').val())
						formData.append('lastName' ,$('#addAccountForm input[name="lastName"]').val())
						formData.append('address' ,$('#addAccountForm input[name="address"]').val())
						formData.append('email' ,$('#addAccountForm input[name="email"]').val())
						formData.append('phoneNumber' ,$('#addAccountForm input[name="phoneNumber"]').val())
						formData.append('idType1', $('#addAccountForm select[name="idType1"]').val())
						formData.append('idType2', $('#addAccountForm select[name="idType2"]').val())
						$.ajax({
							type: 'POST',
							url: '/admin/addaccount',
							data: formData,
							processData: false,
							contentType: false,
							success: function(data){
								swal({
									title: `You have successfully created an account`,
									text: `Account username is ${data.user} and password is ${data.pass}`,
									type: 'success'
								}).then(()=>{
									location.href='/admin/lessee'
								})
							}
						})
					}
				}
			})
		})
